<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Jewellery</title>
    <link rel="icon" href="../imagenes/logo.png" type="image/png">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>

    <header>
        <div class="logo">
            <img src="../imagenes/logo2.png" alt="Logo My Jewellery">
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="../views/productos.html">ANILLOS</a></li>
                <li><a href="../views/presupuesto.html">PRESUPUESTO</a></li>
                <li><a href="../views/contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-avl">
        <h1>Aviso Legal</h1>
    
        <p>En cumplimiento de la Ley 34/2002 de Servicios de la Sociedad de La Información y del Comercio Electrónico 
         (en adelante, “LSSI”) My Jewellery S.L.,  informa que el acceso y uso de este sitio web está sujeto 
         a las presentes condiciones de uso, por lo que recomendamos a los usuarios que las lean atentamente cada vez que 
         accedan a nuestro Sitio web.
        </p>
    
    
        <h3>1. TITULARIDAD DEL DOMINIO WWW.xxxxx.COM E IDENTIFICACIÓN DEL PRESTADOR DE SERVICIOS DE LA SOCIEDAD DE LA INFORMACIÓN </h3>
    
        <p>La titularidad del dominio de nuestra tienda virtual, www.xxxx.com (en adelante, “website”), corresponde a My Jewellery S.L., sociedad legalmente constituida en España con CIF B-98623937 e inscrita en el Registro Mercantil de 
         Madrid al Tomo 9772, Libro 7054, Folio 164, Sección 8, (en adelante “My Jewellery”). Para cualquier consulta, puede contactar 
         con My Jewellery S.L. en hola@myjewellery.com.
        </p>
    
        <h3> 2.PROPIEDAD INTELECTUAL E INDUSTRIAL </h3>

        <p>Todos los contenidos publicados en la tienda y especialmente los diseños, textos, gráficos, logos, iconos, botones, así 
         como el software, los nombres comerciales, las marcas o dibujos industriales y cualesquiera otros signos susceptibles de 
         utilización industrial y comercial están sujetos a derechos de propiedad intelectual e industrial de My Jewellery S.L. o de 
         terceros 
         titulares de los mismos que han autorizado debidamente su inclusión en el website. En ningún caso se entenderá que se concede
         licencia alguna o se efectúa renuncia, transmisión, cesión total o parcial de dichos derechos ni se confiere ningún derecho 
         ni expectativa de derecho, y en especial, de alteración, explotación, reproducción, distribución o comunicación pública sobre 
         dichos contenidos sin la previa autorización expresa de My Jewellery S.L. o de los titulares correspondientes. Queda expresamente 
         prohibida la introducción de hiperenlaces con fines mercantiles en páginas web ajenas a My Jewellery S.L., que permitan el acceso a 
         nuestro website, sin consentimiento previo. En todo caso, la existencia de hiperenlaces en sitios web ajenos a nosotros, no 
         implicará en ningún caso la existencia de relaciones comerciales o mercantiles con el titular de la página web donde se 
         establezca el hiperenlace, ni la aceptación por parte de My Jewellery S.L. de sus contenidos o servicios.
        </p>
    
        <p>El usuario del website deberá abstenerse de suprimir, alterar, eludir o manipular cualquier dispositivo de protección o 
         sistemas de seguridad que puedan estar instalados en la misma.
        </p>
    
        <p>El uso no autorizado de los materiales e información contenida en website pueden suponer la violación de la legislación 
         sobre propiedad intelectual o industrial aplicables. My Jewellery S.L. se reserva el derecho de perseguir judicialmente cualquier 
         infracción de sus derechos de propiedad intelectual e industrial.
        </p>
    
        <h3>3. LIMITACIÓN DE LA RESPONSABILIDAD </h3>
    
        <p>Los productos presentados en el website son conformes a la legislación española. La responsabilidad de My Jewellery S.L. no puede 
            invocarse en el caso de productos no conformes a la legislación de los países a los que hayan podido ser enviados en función 
            del pedido del cliente. Corresponde pues, a los clientes de fuera de España el verificar la posibilidad de importar o utilizar 
            los productos que nos soliciten. El usuario asume toda la responsabilidad derivada del uso de nuestro website, siendo el 
            único responsable de todo efecto directo o indirecto que sobre el website se derive, incluyendo, de forma enunciativa y no 
            limitativa, todo resultado económico, técnico y/o jurídico adverso, así como la defraudación de las expectativas generadas 
            por nuestro website, obligándose el usuario a mantener indemne a My Jewellery S.L. por cualesquiera reclamaciones derivadas, directa 
            o indirectamente de tales hechos. My Jewellery S.L. no se hace responsable de los perjuicios que se pudieran derivar de interferencias, 
            omisiones, interrupciones, virus informáticos, averías y/o desconexiones en el funcionamiento operativo de este sistema electrónico o en 
            los aparatos y equipos informáticos de los usuarios, motivadas por causas ajenas a My Jewellery, que impidan o retrasen la prestación de los
            servicios o la navegación por la tienda, ni de los retrasos o bloqueos en el uso causados por deficiencias o sobrecargas de Internet
            o en otros sistemas electrónicos, ni de la imposibilidad de dar el servicio o permitir el acceso por causas no imputables a 
            My Jewellery, debidas al usuario, a terceros, o a supuestos de fuerza mayor. My Jewellery no controla, con carácter general, la 
            utilización que los usuarios hacen del website. En particular My Jewellery no garantiza bajo ningún extremo que los usuarios utilicen 
            el website de conformidad con la ley, las presentes Condiciones Generales, la moral y buenas costumbres generalmente aceptadas y el 
            orden público, ni tampoco que lo hagan de forma diligente y prudente.
        </p>
    
        <h3>4. CONDICIONES GENERALES DE USO</h3>
    
        <p>Con carácter general el usuario se obliga al cumplimiento de las presentes condiciones generales, así como a cumplir las 
         especiales advertencias o instrucciones de uso contenidas en las mismas o en el website y obrar siempre conforme a la ley, 
         a las buenas costumbres y a las exigencias de la buena fe, empleando la diligencia debida, y absteniéndose de utilizar el 
         website de cualquier forma que pueda impedir, dañar o deteriorar el normal funcionamiento del mismo, los bienes o derechos 
         de My Jewellery, sus proveedores, el resto de usuarios o en general de cualquier tercero. My Jewellery no se responsabiliza de la 
         veracidad y exactitud de los datos rellenados por el usuario y por tanto no puede constatar la edad de los mismos. 
         Concretamente, y sin que ello implique restricción alguna al apartado anterior durante la utilización del website 
         www.My Jewellery.com el usuario se obliga a:
    
        <p>1) Facilitar información veraz sobre los datos solicitados en el formulario de registro de usuario o de realización del pedido, 
         y a mantenerlos actualizados.
        </p>
    
        <p>2) No introducir, almacenar o difundir en o desde el website, cualquier información o material que fuera difamatorio, injurioso, 
         obsceno, amenazador, xenófobo, incite a la violencia a la discriminación por razón de raza, sexo, ideología, religión o que de 
         cualquier forma atente contra la moral, el orden público, los derechos fundamentales, las libertades públicas, el honor, la 
         intimidad o la imagen de terceros y en general la normativa vigente.
        </p>
    
        <p>3) No introducir, almacenar o difundir mediante la tienda ningún programa, datos, virus, código, o cualquier otro dispositivo 
         electrónico o físico que sea susceptible de causar daños en el website, en cualquiera de los servicios, o en cualquiera de los 
         equipos, sistemas o redes de My Jewellery, de cualquier otro usuario, de los proveedores de My Jewellery o en general de cualquier 
         tercero.
        </p>
    
        <p>4) Guardar diligentemente el "nombre de usuario" y la "contraseña" que le sea facilitada por My Jewellery, asumiendo la 
         responsabilidad por los daños y perjuicios que pudieran derivarse de un uso indebido de los mismos.
        </p>
    
        <p>5) No realizar actividades publicitarias o de explotación comercial a través del website, y a no utilizar los contenidos y la 
         información de este para remitir publicidad, o enviar mensajes con cualquier otro fin comercial, ni para recoger o almacenar 
         datos personales de terceros.
        </p>
    
        <p>6) No utilizar identidades falsas, ni suplantar la identidad de otros en la utilización del website o en la utilización de 
         cualquiera de los servicios del mismo, incluyendo la utilización en su caso de contraseñas o claves de acceso de terceros o 
         de cualquier otra forma.
        </p>
    
        <p>7) No destruir, alterar, utilizar para su uso, inutilizar o dañar los datos, informaciones, programas o documentos electrónicos 
         de My Jewellery, sus proveedores o terceros.
        </p>

        <p>8) No introducir, almacenar o difundir mediante la tienda cualquier contenido que infrinja derechos de propiedad intelectual, 
         industrial o secretos empresariales de terceros, ni en general ningún contenido del cual no ostentara, de conformidad con la ley, 
         el derecho a ponerlo a disposición de tercero. El cliente se compromete a posibilitar la entrega del pedido solicitado facilitando 
         una dirección de entrega en la que pueda ser entregado el pedido solicitado dentro del horario habitual de entrega de mercancías. 
         En caso incumplimiento por parte del cliente de esta obligación My Jewellery no tendrá ninguna responsabilidad sobre el retraso o 
         imposibilidad de entrega del pedido solicitado por el cliente. De la misma forma, y con respecto al uso de los productos 
         comercializados por My Jewellery, el usuario es el único responsable del uso de aquellos de forma responsable y conforme al destino 
         para el que se comercializan, no estando destinado su uso a niños.
        </p>
    
     
    
        <h3>5. INFORMACIÓN SUMINISTRADA EN EL WEBSITE</h3>
    
        <p>Hacemos todos los esfuerzos para ofrecer la información contenida en el website de forma veraz y sin errores tipográficos. 
         En el caso de que en algún momento se produjera algún error de este tipo, ajeno en todo momento a la voluntad de 
         www.xxxx.com, se procedería inmediatamente a su corrección. Todas las informaciones contractuales presentes en 
         www.xxxx.com se muestran en lengua española (castellano), y la comunicación con los clientes y usuarios, así como 
         la formalización del contrato se realizará en dicho idioma.
        </p>
    
    
        <h3>6. REDES SOCIALES</h3>
    
        <p>Respecto a los enlaces a los perfiles de las redes sociales que aparecen en el Sitio web (Facebook, Instagram, Twitter, 
         Pinterest), informamos al usuario de que My Jewellery es el prestador de los servicios de la sociedad de la información, 
         conforme a lo establecido en la LSSI.
        </p>
    
        <p>Le recordamos que las redes sociales referenciadas tienen sus propios términos y condiciones que deberá respetar.  </p>
       
    
    
        <h3>7. LEY APLICABLE Y JURISDICCIÓN</h3>
    
        <p>Cualquier controversia que pudiera derivarse de la utilización de website queda sometida a la legislación española y, con 
         carácter general, a los juzgados y tribunales de Valencia ciudad (España). En caso de que el usuario tenga la condición de 
         consumidor, serán competentes según lo previsto en la normativa española vigente.
        </p>
    
        <h3>8. OTRAS CONDICIONES DE USO</h3>
    
        <p>My Jewellery se reserva el derecho a modificar en cualquier momento los contenidos de este website, sin que ello suponga un 
         perjuicio para el usuario.
        </p>
    
    
        <p>Última actualización: octubre 2024</p>

    </main>


    <footer>
        <div class="social-media">
            <h3>Mantente al día en nuestras redes:</h3>
            <a class="ac" href="https://facebook.com" target="_blank">
                <img src="../imagenes/facebook.png" alt="Facebook"> Facebook
            </a>
            <a class="ac" href="https://instagram.com" target="_blank">
                <img src="../imagenes/instagram.PNG" alt="Instagram"> Instagram
            </a>
            <a class="ac" href="https://x.com" target="_blank">
                <img src="../imagenes/x.png" alt="X/Twitter"> X/Twitter
            </a>
        
        </div>
        <div>
            <h3 class="andress" >Dirección:</h3>
            <p class="andressp" > Calle del Barquillo 3, Centro, 28004 Madrid.</p>
            <a class="avl" href="../views/aviso-legal.html">Aviso Legal</a>
            <a class="pp" href="../views/politica-privacidad.html">Politica de Privacidad</a>
           
        </div>
    </footer>
</body>
</html>